<%= simple_form_for(@trip, html: { class: 'form-inline' }) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :scheduled_participants %><br /><br />
    </div>
      <div class="col-md-4">
      <%= f.input :location_id, collection: Location.all, label_method: :name, html: { class: "form-control"} %>
      <br /><br />

      <%= f.input :activity_id, collection: Activity.all, label_method: :name %>
      <br /><br />

      <%= f.input :pickup, as: :boolean, boolean_style: :inline %>

      <%= f.input :lunch, as: :boolean, boolean_style: :inline %>
    </div>
    <div class="col-md-4">
      <%= f.label "Trip date" %> <br />
      <%= f.date_field :date, :id => 'datepicker' %> <br /><br />

      <%= f.label "Pickup time" %><br />
      <%= f.input :pickup_time, input_html: { class: 'time-input' } %><br /><br />

      <%= f.label "Dropoff time" %><br />
      <%= f.input :dropoff_time, input_html: { class: 'time-input' } %><br /><br />
    </div>
  </div>

    <% if params[:group].present? %>
      <%= f.hidden_field :group_id, value: params[:group] %>
    <% end %>

    <center>
      <%= f.submit class: "btn btn-primary" %>
    </center>
  <% end %>
