<%= simple_form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :scheduled_participants %><br /><br />
    </div>
      <div class="col-md-4">
      <%= f.input :location_id, collection: Location.all, label_method: :name %>

      <%= f.input :activity_id, collection: Activity.all, label_method: :name %>


      <%= f.input :pickup, as: :boolean %>
    </div>
    <div class="col-md-4">
      <%= f.label "Trip date" %> <br />
      <%= f.date_field :date %> <br /><br />

      <%= f.label "Pickup time" %><br />
      <%= f.time_field :pickup_time %><br /><br />

      <%= f.label "Dropoff time" %><br />
      <%= f.time_field :dropoff_time %><br /><br />
    </div>
  </div>  

    <% if params[:group].present? %>
      <%= f.hidden_field :group_id, value: @group.id %>
    <% end %>
    <%= f.submit class: "btn" %>

  <% end %>

