<button class="btn btn-primary" data-toggle="modal" data-target=".trip-modal">Create new trip</button>
<br /><br />

<%= Date.today.strftime("%b %d, %Y") %>

<% if @trips.empty? %>

  <h1>You haven't created any trips yet, go select a group to make a trip</h1>

<% else %>

  <% if params[:type] == "past" %>
<!-- past trips -->
    <h4>Past trips</h4>
    <%= link_to "View Upcoming Trips", trips_path %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td><b>Trip Date</b></td>
          <td><b>Group Name</b></td>
          <td><b>Trip Location</b></td>
          <td><b></b></td>
          <td><b></b></td>
          <td><b>Plan?</b></td>
        </tr>
      </thead>  
      <% @trips_past.each do |trip| %>
        <tr>
          <td><%= trip.date.strftime("%b %d, %Y") %></td>
          <td><%= trip.group.name %></td>
          <td><%= trip.location.name %></td>
          <td><%= link_to "View", trip_path(trip) %></td>
          <td>n/a</td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
        </tr>
      <% end %>
    </table>

    
      <center><%= will_paginate @trips_past %></center>
    

  <% else %>
<!-- future trips (default) -->
    <h4>Upcoming Trips</h4>
    <%= link_to "View Past Trips", trips_path( :type => "past" ) %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td><b>Trip Date</b></td>
          <td><b>Group Name</b></td>
          <td><b>Trip Location</b></td>
          <td><b></b></td>
          <td><b></b></td>
          <td><b>Plan?</b></td>
        </tr>
      </thead>  
      <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.date.strftime("%b %d, %Y") %></td>
          <td><%= trip.group.name %></td>
          <td><%= trip.location.name %></td>
          <td><%= link_to "View", trip_path(trip) %></td>
          <td><%= link_to "Edit", edit_trip_path(trip) %></td>
          <td>
            <% if trip.plan.nil? %>
              &nbsp;
            <% else %>
              <%= link_to plan_path(trip.plan) do %><span class="glyphicon glyphicon-ok"><% end %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <center><%= will_paginate @trips %></center>

  <% end %>

<% end %>

<div class="modal fade trip-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-dialog modal-sm">
      <div class="modal-title">Select a group to create a trip</div>
        <div class="modal-body">
          <% @groups.each do |group| %>
            <%= group.name %>
            <%= link_to "New Trip", new_trip_path( :group => group ) %><br />
          <% end %>
        </div>
    </div>
  </div>
</div>