
<h3><%= @group.name %>'s <%= @trip.activity.name %> trip on <b><%= @trip.date.strftime("%B %d, %Y") %></b></h3>
<br /><br />

<div class="row">
  <div class="col-md-3">
    <% if @trip.pickup == false %>
      <h4>Meet at <%= @trip.location.name %></h4>
    <% else %>
      <h4>Pickup at <%= @trip.group.name %></h4>
    <% end %>
    <hr />
    <h4><%= @trip.pickup_time %></h4>
    <br /><br />
    <% if @trip.pickup == false %>
      <h4>Departure</h4>
    <% else %>
      <h4>Return</h4>
    <% end %>
    <hr />
    <h4><%= @trip.dropoff_time %></h4>
  </div>
  <div class="col-md-3">
    <h4># of participants</h4>
    <hr />
    <h4><%= @trip.scheduled_participants %></h4>
    <br /><br />
    <h4>Location</h4>
    <hr />
    <h4><%= @location.name %></h4>
    <h4><%= @location.street %></h4>
    <h4><%= @location.city %>, <%= @location.state %> <%= @location.zip %></h4>
  </div>

  <div class="col-md-6">
    <h4>Directions <%= google_link_to(@location.full_address) %></h4>
    <%= google_static_image(@location.full_address) %>
  </div>
</div>