<h3><%= @group.name %> trip to <%= @location.name %></h3>

<%= google_static_image(@location.full_address) %>

<%= @trip.location %>
<br />
<%= @location.name %> address: <%= google_link_to(@location.full_address) %>