Form

<%= simple_form_for(@leader) do |f| %>
  <% if @leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leader.errors.count, "error") %> prohibited this leader from being saved:</h2>

      <ul>
      <% @leader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name %>


  <%= f.input :group_id, collection: Group.all, label_method: :name %>
          
  <%= f.submit class: "btn" %>

<% end %>