<%= simple_form_for(@leader, html: {class: 'form-vertical' }) do |f| %>
  <% if @leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leader.errors.count, "error") %> prohibited this leader from being saved:</h2>

      <ul>
      <% @leader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.input :first_name %>

    <%= f.input :last_name %>

    <%= f.input :email %>

    <%= f.input :telephone %>

    <%= f.label 'Group Association' %>
    <%= f.input :group_id, collection: Group.all, label_method: :name %>
  </div>

  <%= f.submit class: "btn" %>

<% end %>
