<%= link_to "Create New Leader", new_leader_path %>&nbsp;<span class="glyphicon glyphicon-new-window"></span>

<br /><br />

<% if @leaders.empty?  %>
  
  <h1>No leaders available yet, please create one to get started</h1>

<% else %>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td><b>Leader Name</b></td>
          <td><b>Group Name</b></td>
          <td><b>Edit</b></td>
        </tr>
      </thead>
      <% @leaders.each do |leader| %>
        <tr>
        <td><%= leader.first_name %> <%= leader.last_name %></td>
        <td><%= leader.group.name %></td>
        <td><%= link_to "Edit", edit_leader_path(leader) %></td>
       </tr>
      <% end %>

    </table>

<% end %>
