<%= simple_form_for(@trip_type) do |f| %>
  <% if @trip_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_type.errors.count, "error") %> prohibited this trip type from being saved:</h2>

      <ul>
      <% @trip_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Trip type' %>

  <%= f.text_field :name %>

  <%= f.submit class: "btn" %>
<% end %>