All teh groups


<table class="table table-striped">

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
      <td><%= group.city %></td>
      <td>Leaders: 
        <% group.leaders.each do |leader| %>
          <%= leader.first_name %> <%= leader.last_name %>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
    </tr>
  <% end %>

</table>