<%= simple_form_for(@user, html: { class: 'form-inline' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= @user.email %>
  <%= f.input :roles, collection: User::ROLES %>
  <%= f.submit class: "btn" %>

  <% end %>
