<%= simple_form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :group_id, collection: Group.all, label_method: :name %>

  <%= f.input :leader_id, collection: Leader.all, label_method: :full_name %>
          
  <%= f.submit class: "btn" %>

<% end %>