<%= link_to "Create New Trip Plan", new_plan_path %>&nbsp;<span class="glyphicon glyphicon-new-window"></span>

<h3>Current Trip Plans</h3>

<% if @plans.empty? %>

  <h1>You have no plans yet</h1>

  <h3><%= link_to "Create a new trip plan", new_plan_path %></h3>

<% else %>

  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td><b>Created</b></td>
          <td><b>Group</b></td>
          <td><b>Leader</b></td>
          <td><b>Edit</b></td>
          <td><b>Link</b></td>
          <td><b>Confirmed?</b></td>
        </tr>
      </thead>

      <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.created_at.strftime("%b/%y") %></td>
        <td><%= plan.group.name %></td>
        <td><%= plan.leader.full_name %></td>
        <td><%= link_to "Edit", edit_plan_path(plan) %></td>
        <td><%= link_to plan_path(plan), plan_path(plan) %></td>
        <td>
          <% if plan.confirmed? %>
            <span class="glyphicon glyphicon-ok"></span>
          <% end %>
        </td>
        <td><%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

  </table>

<% end %>
