<center><h3>Trip Plan for <b><%= @plan.leader.full_name %> (<%= @plan.group.name %>)</b></h3></center>

<br /><br />

<% @trips.each_with_index do |trip, index| %>
<h3>Trip #<%= index + 1 %>: <%= trip.activity.name %> on <%= trip.date.strftime("%B %d, %Y") %> <% if user_signed_in? %> (<%= link_to "Edit", edit_trip_path(trip) %>) <% end %></h3>
<div class="row well">
  <div class="col-md-3">
    <% if trip.pickup == false %>
      <h4>Meet at <%= trip.location.name %></h4>
    <% else %>
      <h4>Pickup at <%= trip.group.name %></h4>
    <% end %>
    <hr />
    <h4><%= string_to_time(trip.pickup_time) %></h4>
      <h4></h4>
    <br /><br />
    <% if trip.pickup == false %>
      <h4>Departure</h4>
    <% else %>
      <h4>Return</h4>
    <% end %>
    <hr />
    <h4><%= string_to_time(trip.dropoff_time) %></h4>
  </div>
  <div class="col-md-3">
    <h4># of participants</h4>
    <hr />
    <h4><%= trip.scheduled_participants %></h4>
    <h4>&nbsp;</h4>
    <br /><br />
    <h4>Location</h4>
    <hr />
    <h4><%= trip.location.name %></h4>
    <h4><%= trip.location.street %></h4>
    <h4><%= trip.location.city %>, <%= trip.location.state %> <%= trip.location.zip %></h4>
  </div>

  <div class="col-md-6">
    <h4>Directions <%= google_link_to(trip.location.full_address) %></h4>
    <%= google_static_image(trip.location.full_address) %>
  </div>
</div>

<hr />

<% end %>