<h2>Totals forever</h2>
<h1><%= @male + @female %></h1>
<%= @male %> male participants,  <%= @female %> female participants

<br /><br />

<h2>Totals for current year</h2>
<h1><%= @current_male + @current_female %></h1>
<%= @current_male %> male participants,  <%= @current_female %> female participants
