<%= simple_form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label 'Location Name' %>
    <%= f.text_field :name %>
  </div>

  <div class="input-group">
    <%= f.label 'Street' %>
    <%= f.text_field :street %>
  </div>

  <div class="input-group">
    <%= f.label 'City' %>
    <%= f.text_field :city %>
  
    <%= f.label "State" %>
    <%= f.text_field :state %>
  
    <%= f.label "Zip" %>
    <%= f.text_field :zip %>
  </div>

  <%= f.submit class: "btn" %>

<% end %>