<%= link_to "Add new location", new_location_path %>&nbsp;<span class="glyphicon glyphicon-new-window"></span>

<h3>All locations</h3>

<% if @locations.empty? %>

  <h1>You don't have any locations yet, please create a location to get started</h1>

  <h3><%= link_to "Add new location", new_location_path %></h3>

<% else %>

    <table class="table table-striped">
      <% @locations.each do |location| %>
        <tr>
        <td><%= location.name %></td>
        <td><%= location.state %></td>
        <td><%= location.full_address %></td>
        <td><%= link_to "Edit", edit_location_path(location) %></td>
       </tr>
      <% end %>
    </table>

<% end %>


