All locations

<table class="table table-striped">

  <% @locations.each do |location| %>
    <tr>
    <td><%= location.name %></td>
    <td><%= leader.state %></td>
    <td><%= link_to "Edit", edit_leader_path(location) %></td>
   </tr>
  <% end %>

</table>

<%= link_to "Add new location", new_location_path %>

<%= google_static_image("61%20Byrdland%20Dr%20Greenville%20SC%2029607") %>