<!DOCTYPE html>
<html>
<head>
  <title>Cabra</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Cabra</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= is_active?(leaders_path) %>"><%= link_to "Leaders", leaders_path %></li>
                <li class="<%= is_active?(groups_path) %>"><%= link_to "Groups", groups_path %></li>
                <li><a href="#contact">Trips</a></li>
                <li><a href="#contact">Plans</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">User</a></li>
                    <li><a href="#">Manage Users</a></li>
                    <li><a href="#">Sign out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
